<h4 class="day">{{date}}</h4>
<span class="hour">
    {{time}}
    <sup></sup>
</span>
<span class="location">{{location}}</span>
<div>

<p class="mini-desc">
    {{description}}
</p>
</div>
<a href="{{url}}" class="icon-share">
    <img src="static/img/share.png">
</a>
