<div class="image-holder">
    <img src="{{photo_mdpi}}" />
    <figcaption>{{title}}</figcaption>
</div>
<p class="description">
    {{description}}
</p>
<div class="meta">
    <span class="autor">
        <i class="fa fa-user"></i>
        {{owner}}
    </span>
    <ul  class="social-items">
        <li data-toggle="tooltip" title="#VamosBien" data-original-title="The last tip!">
            <a href="#" class="vamos-bien"  data-id="{{pk}}">
                <span class="count">{{likes}}</span>
                <i class="fa fa-thumbs-o-up"></i>
            </a>
        </li>
        <li>
            <a href="" class="details">
                <i class="fa fa-th-large"></i>
            </a>
        </li>
    </ul>
</div>
