<button type="button" class="overlay-close">Close</button>
<div class="overlay-container row">
    <section class="picture-info col-lg-12">
        <div class="row">
            <figure class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="image-wrapper">
                    <img src="{{photo_xxhdpi}}" alt="">
                    <figcaption>
                        <span class="datetime">
                            <i class="fa fa-clock-o"></i>
                            {{datetime}} <i class="fa fa-angle-right"></i>{{location}}
                        </span>
                        <h3 class="title">{{title}}</h3>
                        <a href="" class="go-good  hidden-xs">
                            <span class="count">{{likes}}</span>
                            <img src="/static/img/vamos_bien.svg">
                        </a>
                    </figcaption>
                </div>
            </figure>
            <article class="info-wrapper col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <cite class="hashtag hidden-sm hidden-xs">#VamosBien</cite>
                <div class="description-box">
                    <p>{{description}}</p>
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <div class="map-box">
                    <h3><i class="fa fa-map-marker"></i>Aqui estuvo Evo:</h3>
                    <div class="map">

                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="picture-tiles col-lg-12">
        <ul class="picture-tiles-container hidden-sm hidden-xs">
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
            <li class=""><a href="#"><img src="static/img/03.jpg" alt="#"></a></li>
        </ul>
    </section>
</div>
